<div class="item-container">
  <div class="label">{{title}}</div>
  {{#if description}}
    <i>{{{description}}}</i>
  {{/if}}
  {{#if custom}}
    {{>content}}
  {{else if checkbox}}
    {{#getJsonContext options}}{{#each this}}
      <label><input
        type="checkbox"
        type="radio"
        name="{{../../input_name}}--{{value}}"
        value="{{value}}"
        {{#if id}} id="{{id}}"{{/if}}
        {{#if ../../required}}required{{/if}}
        data-for="{{../../input_name}}"
      ><span>{{{text}}}</span></label>
    {{/each}}{{/getJsonContext}}
    {{#if other}}
      <label class="other-label">
        <input type="checkbox" name="{{input_name}}--other" data-for="{{input_name}}" value=""> Other: 
        <div class="input-wrapper"><input type="text" name="{{input_name}}--other"></div>
      </label>
    {{/if}}
  {{else if radio}}
    {{#getJsonContext options}}{{#each this}}
      <label><input
        type="radio"
        name="{{../../input_name}}"
        value="{{#if value}}{{value}}{{else}}{{this}}{{/if}}"
        {{#if id}} id="{{id}}"{{/if}}
        {{#if ../../required}}required{{/if}}
        {{#if ../../jstype}} data-type="{{../../jstype}}"{{/if}}
      ><span>
        {{#if text}}{{text}}{{else}}{{this}}{{/if}}
      </span></label>
    {{/each}}{{/getJsonContext}}
    {{#if other}}
      <label class="other-label">
        <input
          type="radio"
          name="{{input_name}}"
          {{#if jstype}} data-type="{{jstype}}"{{/if}}
        ><span>Other: 
          <div class="input-wrapper"><input type="text" name="{{input_name}}--other"></div>
        </span>
      </label>
    {{/if}}
  {{else if file}}
      <input
        type="file"
        name="{{input_name}}"
        {{#if accept}} accept="{{accept}}"{{/if}}
        {{#if required}} required{{/if}}
      ><br>
  {{else if textarea}}
    <div class="input-wrapper">
      <textarea type="{{input_type}}" name="{{input_name}}" placeholder="{{placeholder}}"></textarea><br>
    </div>
  {{else}}
    <div class="input-wrapper {{#if number}}number-input{{/if}}"
      {{#if autofill}} data-autofill="{{autofill}}"{{/if}}
    >
      <input
        type="{{input_type}}"
        name="{{input_name}}"
        placeholder="{{placeholder}}"
        {{#if min}} min="{{min}}"{{/if}}
        {{#if max}} max="{{max}}"{{/if}}
        {{#if accept}} accept="{{accept}}"{{/if}}
        {{#if pattern}} pattern="{{pattern}}"{{/if}}
        {{#if required}} required{{/if}}
        {{#if jstype}} data-type="{{jstype}}"{{/if}}
      ><br>
    </div>
  {{/if}}
</div>
