<div class="v3-person-container">
  <img class="person" src="/images/people/{{img}}"/>
  <div>
    <h3>{{name}}</h3>
    <div class="name-title">{{title}}</div>
    <div class="badge-container" style="">
      {{#if roles}}{{#getJsonContext roles}}{{#each this}}
        <span class="badge" data-role="{{this}}">{{this}}</span>
      {{/each}}{{/getJsonContext}}{{/if}}
    </div>
  </div>
</div>
